@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2D2E32;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  color: #fff;
  border-radius: 7px !important;
  margin: 0%;
  padding: 0%;
  border-bottom: none !important;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar_container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar_left {
  background-color: white;
}

.navbar_left_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  background-color: white;
}

.navbar_left_logo h2 {
  font-weight: 800;
  font-size: 33px;
  background-color: white;
}

.navbar_left_logo span {
  color: #2E9CCA;
}

.navbar_right {
  display: flex;
  list-style-type: none;
  align-items: center;
  background-color: white;
}

.navbar_right li {
  background-color: white;
}

.navbar_right li a,
button {
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  padding: 0 15px;
  background-color: white;
}

.navbar_right a:hover {
  color: blue;
  padding: 10px 15px;
  border-radius: 10px;
}

/* -------------------------Tablet------------------------------------------- */

.Ultablet {
  list-style: none;
  margin-top: 30px;
  color: white;
}

.Ultablet li {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.Ultablet li:hover {
  cursor: pointer;
  height: 80px;
  width: 100%;
  background-color: blue;
}